## Querying data table from BigQuery and analyzing it by answering questions with help of sql queries.

### An original dataset, hotel booking is from Kaggle.

In [ ]:
import os

os.environ["TOKEN_NAME"]
os.environ["TOKEN_SECRET"]

'KBL+4P4tQZq65+6oi8UVuQ==:D2qaUFyZsWCb8NA9xYwyZXQaVKqfosdJ'

To use BigQuery, we'll import the Python package below:

In [ ]:
from google.cloud import bigquery

### Retrieving the table to analyze

In [ ]:


df_1 = _deepnote_execute_sql("""SELECT * FROM hotel_booking.table0
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone_number,credit_card
0,Resort Hotel,0,0,2015,July,29,13,1,1,4,...,Transient,150.0,0,0,Check-Out,2015-07-15,Micheal Randolph,MichealRandolph@comcast.net,533-493-2373,************2161
1,Resort Hotel,1,0,2015,July,29,17,0,1,2,...,Transient,136.0,0,0,Canceled,2015-07-17,Rodney Conner,Rodney_C89@verizon.com,917-447-5322,************8021
2,Resort Hotel,0,0,2015,August,32,5,0,1,2,...,Transient,200.0,0,0,Check-Out,2015-08-06,Justin Potter,Justin.P@mail.com,283-678-0443,************4806
3,Resort Hotel,1,0,2016,February,8,15,0,0,0,...,Transient,0.0,0,0,Canceled,2016-02-15,Alex Lang,Lang_Alex@mail.com,479-339-8268,************4034
4,Resort Hotel,1,0,2016,November,48,21,0,0,0,...,Group,0.0,0,0,Canceled,2016-11-21,Justin Collins,Justin.C@att.com,721-919-3589,************6051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,0,0,2017,August,35,31,0,2,4,...,Transient,244.0,1,0,Check-Out,2017-09-02,Nichole Johnson,Johnson.Nichole@outlook.com,650-022-4348,************8555
119386,Resort Hotel,0,11,2016,June,24,10,0,2,2,...,Transient-Party,176.9,0,1,Check-Out,2016-06-12,Cody Gonzalez,Cody_G26@mail.com,259-167-5535,************2419
119387,Resort Hotel,0,11,2016,June,24,10,0,2,2,...,Transient-Party,176.9,0,0,Check-Out,2016-06-12,Dennis Schwartz,Dennis_Schwartz@aol.com,778-873-0003,************1688
119388,Resort Hotel,1,124,2017,April,15,9,2,5,2,...,Transient,120.0,0,0,Canceled,2017-02-28,Sharon Montgomery,Montgomery_Sharon@comcast.net,406-058-5659,************8331
119389,Resort Hotel,0,124,2017,April,15,9,4,10,2,...,Contract,120.0,0,0,Check-Out,2017-04-23,Kevin Black,Kevin.Black25@comcast.net,645-300-7907,************3738

### 1. What types of hotel in the table?

In [ ]:


df_4 = _deepnote_execute_sql("""SELECT DISTINCT hotel
FROM hotel_booking.table0
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_4

          hotel
0  Resort Hotel
1    City Hotel

### 2. Which guests have arrived more than once?

In [ ]:


df_2 = _deepnote_execute_sql("""
    SELECT DISTINCT name, email, phone_number            
    FROM hotel_booking.table0
    WHERE is_repeated_guest=1
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_2

                   name                           email  phone_number
0          Daniel Lewis        Daniel_Lewis90@gmail.com  994-149-0119
1       Matthew Kennedy  Kennedy.Matthew@protonmail.com  470-676-8598
2         Jamie Everett       Everett_Jamie91@yahoo.com  677-139-1545
3       Nathan Browning     Nathan.Browning@comcast.net  708-559-3271
4      Jeffrey Morrison     Morrison_Jeffrey@yandex.com  665-783-1622
...                 ...                             ...           ...
3805       Sheri Hebert                 Sheri_H@att.com  217-853-5924
3806    Natalie Johnson     Johnson_Natalie@verizon.com  475-314-1923
3807  Rebekah Schroeder           Rebekah.S@xfinity.com  700-903-7499
3808        Duane Lewis                Duane_L@zoho.com  793-816-1767
3809      Cody Gonzalez               Cody_G26@mail.com  259-167-5535

[3810 rows x 3 columns]

### 3. Which month has the highest booking?

In [ ]:


df_8 = _deepnote_execute_sql("""SELECT arrival_date_month, COUNT(*) as count
FROM hotel_booking.table0
GROUP BY arrival_date_month
ORDER BY count DESC
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_8

   arrival_date_month  count
0              August  13877
1                July  12661
2                 May  11791
3             October  11160
4               April  11089
5                June  10939
6           September  10508
7               March   9794
8            February   8068
9            November   6794
10           December   6780
11            January   5929

### 4. What is the average night a customer spend?

In [ ]:


df_5 = _deepnote_execute_sql("""SELECT hotel, ROUND(AVG(stays_in_weekend_nights+ stays_in_week_nights)) as avg_night_spent,
ROUND(AVG(stays_in_weekend_nights)) as avg_spent_weekend,
ROUND(AVG(stays_in_week_nights)) as avg_spent_week
FROM hotel_booking.table0
WHERE is_canceled=0
GROUP BY hotel
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_5

          hotel  avg_night_spent  avg_spent_weekend  avg_spent_week
0  Resort Hotel              4.0                1.0             3.0
1    City Hotel              3.0                1.0             2.0

### 5. What is the average daily rate by month?

In [ ]:


df_14 = _deepnote_execute_sql("""SELECT arrival_date_month, avg(adr) as avg_adr
FROM hotel_booking.table0
GROUP BY arrival_date_month
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_14

   arrival_date_month     avg_adr
0                July  126.788013
1              August  140.111523
2            February   73.582276
3            November   73.794962
4            December   81.076776
5               April  100.380790
6           September  105.049657
7             October   87.908879
8             January   70.361241
9               March   80.679646
10                May  108.695516
11               June  116.672192

### 6. Which country has the highest clients?

In [ ]:


df_6 = _deepnote_execute_sql("""SELECT country, count(country) as travellers_by_country
FROM hotel_booking.table0
WHERE country is not null AND is_canceled=0 
GROUP BY country
ORDER by travellers_by_country DESC

""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_6

    country  travellers_by_country
0       PRT                  21071
1       GBR                   9676
2       FRA                   8481
3       ESP                   6391
4       DEU                   6069
..      ...                    ...
160     NCL                      1
161     FRO                      1
162     AIA                      1
163     ZMB                      1
164     DJI                      1

[165 rows x 2 columns]

### 7. In which hotel, customers with children stay the most?

In [ ]:


df_7 = _deepnote_execute_sql("""SELECT hotel, COUNT(*) as customer_w_child
FROM hotel_booking.table0
WHERE children>0 OR babies>0
GROUP BY hotel
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_7

          hotel  customer_w_child
0  Resort Hotel              3929
1    City Hotel              5403

### 8. Which month has the most cancellations?

In [ ]:


df_15 = _deepnote_execute_sql("""SELECT arrival_date_month, COUNT(*) as count
FROM hotel_booking.table0
WHERE is_canceled=1
GROUP BY arrival_date_month
ORDER BY count DESC
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_15

### 9. What is the ratio of cancellation by hotel?

In [ ]:


df_15 = _deepnote_execute_sql("""SELECT hotel, sum(case when is_canceled=1 then 1 else 0 end)/count(*) as canceled
FROM hotel_booking.table0
GROUP By hotel
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_15

### 10. Is there a relation between deposit type and cancellations?

By number

In [ ]:


df_11 = _deepnote_execute_sql("""SELECT deposit_type, count(*) as canceled
FROM hotel_booking.table0
WHERE is_canceled=1
GROUP BY deposit_type
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_11

  deposit_type  canceled
0   No Deposit     29694
1   Non Refund     14494
2   Refundable        36

By percentage

In [ ]:


df_11 = _deepnote_execute_sql("""SELECT 
sum(case when deposit_type='No Deposit' then 1 else 0 end)/count(*) as no_deposit,
sum(case when deposit_type='Non Refund' then 1 else 0 end)/count(*) as non_refund,
sum(case when deposit_type='Refundable' then 1 else 0 end)/count(*) as refundable
FROM hotel_booking.table0
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_11

   no_deposit  non_refund  refundable
0    0.876464    0.122179    0.001357

### 11. Is there a relation between special requests and cancellations?

In [ ]:


df_13 = _deepnote_execute_sql("""SELECT
sum(case when total_of_special_requests>0 then 1 else 0 end)/count(*) as special_requests,
sum(case when total_of_special_requests=0 then 1 else 0 end)/count(*) as no_special_requests
FROM hotel_booking.table0
WHERE is_canceled=1
""", 'SQL_B81821BF_50C1_41D8_8A1B_F9765166A7A2')
df_13

   special_requests  no_special_requests
0          0.241226             0.758774

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=647a781c-4efd-4039-b0f0-a0e198674fb1' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>